#h1 {
  font-weight: bold;
  width: 13rem;
  font-size: 1.7rem;
  margin-left: 1rem;
}

.button {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: none;
  margin-right: 1rem;
  border-radius: 100%;
  box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, 0.06),
    0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, 0.03);
}

.arrow {
  width: 40%;
}

#left {
  transform: rotate(90deg);
}

#right {
  transform: rotate(270deg);
}
