

@mixin button() {
    display: block;
    padding: 1rem;
    line-height: 3vh;
    border: none;
    border-radius: .7rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #0a0d88a8;
    animation: buttonAnimated 2s;
    transition: padding .7s;
    @media screen and (min-width: 1000px) {
        padding: 1.2rem;
    }
    @media (orientation: landscape)and (min-width: 320px) and (max-width: 920px) {
        padding: 1.2rem;
    }
}

@mixin buttonHover {
    cursor: pointer;
    padding: 1.2rem;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    @media screen and (min-width: 1000px) {
        padding: 1.4rem;
    }
}

// Var
$text-color: #fff;
$background-color: #f4efff;
$headers-size: 1.5rem;