

@mixin button() {
    display: block;
    padding: 1rem;
    line-height: 3vh;
    border: none;
    border-radius: .7rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #0a0d88a8;
    animation: buttonAnimated 2s;
    transition: padding .7s;
    @media screen and (min-width: 1000px) {
        padding: 1.2rem;
    }
    @media (orientation: landscape)and (min-width: 320px) and (max-width: 920px) {
        padding: 1.2rem;
    }
}

@mixin p() {
    font-family: Mulish,sans-serif;
    color: #555;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
}

@mixin d-flex-row() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin d-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin buttonArrow() {
    width: 2rem;
    @include d-flex;
    border-radius: 100%;
    height: 2rem;
    cursor: pointer;
    box-shadow: $box-shadow;
}

@mixin small-headers() {
    color: #0b0f19;
    font-size: 1.4rem;
    font-weight: 700;
}

@mixin haeders() {
    color: #0b0f19;
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 700;
}


//breakpoints

$breakpoints: (
  mobile: 560px,
  tablet: 768px,
  big-tablets: 850px,
  desktop: 1200px,
);

// Vars

//colors
$white-text-color: #fffefe;
$dark-text-color: #101010;
$background-color: #fffefe;

$gray: #9397ad;
$purple: #6366f1;
$white-purple: #EFF2FC;

//font sizes
$headers-size: 1.7rem;

//sizes 

$arrow-icon-size: 40%;

//box-shadow
$box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, 0.06), 0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, 0.03);

//buttons
$button-size: 2rem;