

@mixin button() {
    display: block;
    padding: 1rem;
    line-height: 3vh;
    border: none;
    border-radius: .7rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #0a0d88a8;
    animation: buttonAnimated 2s;
    transition: padding .7s;
    @media screen and (min-width: 1000px) {
        padding: 1.2rem;
    }
    @media (orientation: landscape)and (min-width: 320px) and (max-width: 920px) {
        padding: 1.2rem;
    }
}

@mixin d-flex-row() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin d-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}


// Vars

//colors
$white-text-color: #f4efff;
$dark-text-color: #101010;
$background-color: #f4efff;
$purple: #6366f1;
$white-purple: #EFF2FC;

$headers-size: 1.5rem;

//box-shadow
$box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, 0.06), 0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, 0.03);

//buttons
$button-size: 2rem;