* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Source Code Pro', monospace;
}

.titlePage__mainContent {
    background-image: url('../../assets/img/title_slide.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(100% - 30%);
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 35%;
    padding-bottom: calc(100% - 10%);
    padding-left: 2rem;
    &__h1 {
        font-size: 2rem;
        width: 70%;
        padding-top: calc(100% - 85%);
        color: #fff;
    }
    &__button {
        display: block;
        padding: 1rem;
        line-height: 3vh;
        border: none;
        border-radius: .7rem;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        background-color: #0a0d88a8;
    }
}