.inputsSection {
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__button {
        width: 90%;
        margin: 0 auto;
        padding: .8rem;
        border-radius: .5rem;
        background-color: #6266f0;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &__search {
            width: 10%;
        }
    }
}

#inp, #sel {
    width: 90%;
}

#inp {
    opacity: .7;
}