@import '../../../sass/setting.module.scss';

.inputsSection {
    @media screen and (min-width: 1300px) {
        margin-left: 2rem;
    }

    @media screen and (min-width: 1600px) {
        margin-left: 15rem;
    }
    &__form {
        @include d-flex-row;

        @media screen and (min-width: 500px) {
            flex-direction: row;
        }

        @media screen and (min-width: 1024px) {
            justify-content: flex-start;
            margin-left: 1rem;
            
        }
    }

    &__button {
        width: 90%;
        margin: 0 auto;
        padding: .8rem;
        border-radius: .5rem;
        background-color: $purple;
        border: none;
        @include d-flex;
        align-items: flex-start;

        @media screen and (min-width: 500px) {
            width: 10%;
            margin: 0;
            margin-left: 1rem;
            margin-bottom: .5rem;
        }
        @media screen and (min-width: 1024px) {
            width: 5%;   
        }

        &__search {
            width: 1.5rem;
        }
    }
}

#inp,
#sel {
    width: 90%;

    @media screen and (min-width: 500px) {
        width: 35%;
        font-size: 1rem;
        padding: 0.785rem 1.125rem;
    }

    @media screen and (min-width: 1024px) {
        width: 15%;
    }
}

#sel {
    opacity: .8;
}

#inp {
    opacity: .7;
}