.zeroCondition__p {
    padding-top: 5%;
    width: 80%;
    text-align: center;
}

.zeroCondition__button {
    display: block;
    margin-top: 10%;
    border: none;
    border-radius: 7px;
    background-color: #0275d8;
    color: #fff;
    cursor: pointer;
    padding: .7rem 1.5rem;
}