@import '../../../../sass/setting.module.scss';

.coursesWrapper {
    @include d-flex;

    @media screen and (min-width: 768px) {
        position: relative;
        top: 6rem;
        right: 56vw;
    }

    @media screen and (min-width: 850px) {
        right: 57vw;
        top: 4rem;
        gap: 2rem;
    }

    @media screen and (min-width: 992px) {
        right: 65vw;
    }
    @media screen and (min-width: 1200px) {
        right: 62vw;
    }

    @media screen and (min-width: 1700px) {
        top: 6rem;
        right: 55vw;
    }

}

#id2 {
    display: none;
}
#id3 {
    display: none;
}
#id4 {
    display: none;
}
#id5 {
    display: none;
}

@media screen and (min-width: 560px) {
    #id2 {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    #id2 {
        display: none;
    }
}

@media screen and (min-width: 850px) {
    #id2 {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    #id3 {
        display: block;
    }
}