@import '../../../../sass/setting.module.scss';

#a {
    margin-left: 1rem;
    // margin-top: 1rem;
    border: none;
    background-color: $white-purple;
    color: $dark-text-color;
    font-weight: bold;
    opacity: .8;
    @media screen and (min-width: 768px){
        margin-top: 1rem;
    }
}
#a:hover {
    color: $purple;
}