@import '../../sass/setting.module.scss';

.instructionSection {
    @include d-flex-row;
    width: 90vw;
    margin: 5rem auto;
    @media screen and (min-width: 768px) {
        margin-top: 15rem;
    }

    &__h2 {
        color: #0b0f19;
        font-size: calc(1.375rem + 1.5vw);
        font-weight: 700;
    }
}