@import '../../sass/setting.module.scss';

.instructionSection {
    @include d-flex-row;
    width: 90vw;
    margin: 5rem auto;
    @media screen and (min-width: 768px) {
        margin-top: 15rem;
    }

    &__h2 {
        @include haeders;
    }
}