@import '../../../sass/setting.module.scss';

.content {
    padding: 3rem 0 0 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    @media screen and (min-width: 1024px) {
        width: 25rem;
    }
    &__h5 {
        text-align: left;
        color: #0b0f19;
        font-size: 1.25rem;
        font-weight: 600;
    }
    &__h1 {
        color: #0b0f19;
        font-weight: 550;
        font-size: calc(1.525rem + 3.3vw);
        &__span {
            color: #6366f1;
        }
    }
    &__p {
        font-size: 1.2rem;
        opacity: .8;
        font-weight: lighter;
    }
}