.infoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 0 1rem;
    @media screen and (min-width: 600px) {
        padding: 0 5rem;
    } 
    @media screen and (min-width: 800px) {
        padding: 0 10rem;
    }
    @media screen and (min-width: 1024px) {
        padding: 0 2rem;
        gap: 5%;
    }
    @media screen and (min-width: 1300px) {
        padding: 0 5rem;
    }
    @media screen and (min-width: 1700px) {
        padding: 0 10rem;
        font-size: 1.2rem;
    }

    &__img {
        width: 20%;
        @media screen and (min-width: 1024px) {
            width: 10%;
        }
        @media (orientation: landscape)and (min-height: 320px) and (max-width: 920px) {
            width: 10%;
        }
    }
}

#big {
    width: 15%;
    @media screen and (min-width: 1024px) {
        width: 10%;
    }
    @media (orientation: landscape)and (min-height: 320px) and (max-width: 920px) {
        width: 10%;
    }
}