#active {
    background-color: #6366f1;
    color: #fff;
    font-weight: 500;
}

#wrapper {
    margin-top: 3rem;
}

.otherList {
    background-color: #eff3fd;
    margin-right: 1rem;
    border-radius: .5rem;
}

.aText {
    color: #101010;
}

.first {
    margin: 0 1rem;
}