@import '../../../sass/setting.module.scss';

#active {
  background-color: $purple;
  color: #fff;
  font-weight: 500;
  margin-left: 1rem;
}

#wrapper {
  margin-top: 3rem;
  // display: inline-block;
  @media screen and (min-width: 768px) {
    margin-left: 1.5rem;
  }
  @media screen and (min-width: 1400px) {
    margin-left: 7vw;
  }
}

#a {
  margin-left: 1rem;
  border: 1px solid $purple;
  color: $purple;
  padding: 0.7rem 3rem;
  font-size: 1rem;
}

#ul {
  border-bottom: none;
  overflow-y: hidden;
  @media screen and (min-width: 768px) {
    height: 27rem;
  }
}

.first {
  margin: 0 1rem;
}
