#active {
    background-color: #6366f1;
    color: #fff;
    font-weight: 500;
    margin-left: 1rem;
}

#wrapper {
    margin-top: 3rem;
    // display: inline-block;
}

#a {
    margin-left: 1rem;
    border: 1px solid #6366f1;
    color: #6366f1;
    padding: .7rem 3rem;
    font-size: 1rem;
}

#ul {
    border-bottom: none;
}


.first {
    margin: 0 1rem;
}