@import '../../../sass/setting.module.scss';

.titlePage__header {
    height: 10vh;
    background-color: #000;
    width: 100vw;
    position: fixed;
    top: 0;

    @media (orientation: landscape)and (min-height: 320px) and (max-width: 920px) {
        height: 15vh;
    }

    &__shopBag {
        display: none;
        z-index: 1;
        position: relative;
        cursor: pointer;

        img {
            display: block;
            width: 3vw;
            height: 3vh;
            @media (orientation: landscape)and (min-height: 320px) and (max-width: 920px) {
                height: 7vh;
            }
        }

        @media screen and (min-width: 700px) {
            display: inline-block;
        }

        &__count {
            border-radius: 100%;
            width: 2vw;
            height: 2vh;
            background-color: #808080;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 2vh;
            left: 1.5vw;
            padding: .7rem;

            @media screen and (min-width: 1400px) {
                width: 1vw;
            }
        }
    }

    &__shopBagContent {
        display: none;
        width: 50vw;
        height: 55vh;
        position: fixed;
        right: 1vw;
        background-color: $text-color;
        border-radius: 15px;
        gap: 20%;

        @media screen and (min-width: 900px) {
            width: 40vw;
        }

        @media screen and (min-width: 1200px) {
            width: 30vw;
            height: 50vh;
        }

        @media screen and (min-width: 1500px) {
            height: 47vh;
            width: 20vw;
        }

        &__info {
            font-weight: bold;
            font-size: 1.2rem;
            display: flex;
            justify-content: start;
            margin-top: 5%;
            align-items: center;
            flex-direction: column;
            width: 100%;
            padding: 1rem;
            height: 65%;
        }

        &__total {
            height: 35%;
            border-top: 2px dashed #000;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2vh;
            padding-bottom: 10%;

            &__button {
                border: none;
                border-radius: 7px;
                background-color: #0275d8;
                color: $text-color;
                cursor: pointer;
                padding: .7rem 1.5rem;
            }
        }
    }

    &__iconLogo {
        display: inline-block;
        cursor: pointer;
        margin-left: 5vw;
        width: 5rem;
        height: 10vh;

        @media screen and (min-width: 1400px) {
            width: 6rem;
        }

        @media (orientation: landscape)and (min-height: 320px) and (max-width: 920px) {
            height: 15vh;
        }

        &__img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &__menu {
        position: fixed;
        top: 0;
        width: 80vw;
        height: 10vh;
        display: inline-block;

        &__wrapper {
            height: 90vh;
            width: 120vw;
            padding: 10vh 5vw 0 0vw;
            position: absolute;
            top: 10vh;
            left: -40vw;
            color: #000;
            background-color: $text-color;
            display: none;
            transform: translateY(-100vh);
            animation: slideDown 0.7s;

            @media screen and (min-width: 400px) {
                padding: 10vh 5vw 0 10vw;
                left: -35vw;
            }

            @media screen and (min-width: 600px) {
                padding: 10vh 5vw 0 20vw;
            }

            @media screen and (min-width: 700px) {
                display: block;
                top: 110vh;
                left: 0;
                top: 100vh;
                background-color: #000;
                color: $text-color;
                height: 10vh;
                width: 90vw;
                animation: none;
            }
        }

        &__container {
            width: 100vw;
            height: 100%;
            display: flex;
            justify-content: start;
            margin-top: 3%;
            align-items: center;
            flex-direction: column;
            gap: 5%;

            @media screen and (min-width: 700px) {
                flex-direction: row;
                width: 100%;
                position: relative;
                bottom: 3rem;
                gap: 3rem;
            }

            @media screen and (min-width: 1024px) {
                bottom: 3.5rem;
                left: 3rem;
            }

            @media screen and (min-width: 1100px) {
                left: 11rem;
            }

            @media screen and (min-width: 1250px) {
                left: 18rem;
                bottom: 4rem;
            }

            @media screen and (min-width: 1450px) {
                left: 25rem;
            }

            @media screen and (min-width: 1450px) {
                left: 35rem;
                bottom: 5rem;
            }

            @media (orientation: landscape)and (min-height: 320px) and (max-width: 920px) {
                bottom: 1.5rem;
            }
        }

        &__items {
            display: block;
            font-weight: bold;
            font-size: 2rem;
            transition: all 0.7s;
            cursor: pointer;
            color: #fff;

            @media screen and (min-width: 700px) {
                font-size: 1rem;
            }

            @media screen and (min-width: 1024px) {
                font-size: 1.2rem;
            }

            @media screen and (min-width: 1450px) {
                font-size: 1.5rem;
            }

            &__bag {
                display: block;
                font-weight: bold;
                font-size: 2rem;
                transition: all 0.7s;
                cursor: pointer;

                @media screen and (min-width: 700px) {
                    display: none;
                }
            }

            &__bagContent {
                width: 100%;
                height: 100%;
                @media screen and (min-width: 700px) {
                    display: none;
                }
                &__top {
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                &__price {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    padding: 10% 1rem 0 1rem;
                    margin-top: 2rem;
                    border-top: 2px dashed #000;
                }
                &__button {
                    border: none;
                    border-radius: 7px;
                    background-color: #0275d8;
                    color: $text-color;
                    cursor: pointer;
                    padding: .7rem 1.5rem;
                    font-size: 1rem;
                }
            }
        }

        &__items:hover {
            background-color: $text-color;
            padding: .5rem;
            border-radius: 5px;
            color: #000;
        }

        &__hamburger {
            width: 10vw;
            height: 10vh;
            position: fixed;
            right: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 5%;

            @media (orientation: landscape)and (min-height: 320px) and (max-width: 920px) {
                height: 15vh;
            }

            @media (orientation: landscape)and (min-height: 500px) and (max-width: 1000px) {
                height: 10vh;
            }

            @media screen and (min-width: 700px) {
                display: none;
            }

            &__img {
                display: block;
                width: 3rem;
                @media (orientation: landscape)and (min-height: 320px) and (max-width: 920px) {
                    width: 15vw;
                }
            }

            &__item {
                background-color: $text-color;
                color: #000;
                width: 10vw;
                height: .3vh;
            }
        }
    }
}

@keyframes slideDown {
    100% {
        transform: translateY(0);
    }
}