@import '../../sass/setting.module.scss';


* {
    font-family: 'Open Sans', sans-serif;
}

#id {
    color: $text-color;
}

.container {
    height: 100%;


    @media screen and (min-width: 1024px) {
        display: flex;
    }

}

.containerSections {
    background-color: #000;
    color: $text-color;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;

    @media screen and (min-width: 1024px) {
        height: 100vh;
        justify-content: start;
        padding-top: 5%;
    }

    @media screen and (min-width: 1300px) {
        gap: 5%;
    }

    @media (orientation: landscape)and (min-height: 320px) and (max-width: 920px) {
        padding-top: 20%;
        gap: 20%;
        height: 90%;
    }

    &__headerSection {
        font-size: $headers-size;
    }
}

.containerImg {
    background-color: #000;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;

    @media (orientation: landscape)and (min-height: 320px) and (max-width: 920px) {
        padding-top: 15%;
    }

    &__img {
        width: 100%;

        @media screen and (min-width: 600px) {
            width: 70%;
        }

        @media screen and (min-width: 800px) {
            width: 60%;
        }

        @media screen and (min-width: 1024px) {
            padding-top: 15%;
            width: 50vw;
            height: 70%;
        }

        @media screen and (min-width: 1400px) {
            height: 90%;
        }
    }
}
