@import '../../sass/setting.module.scss';

.container {
    background-color: #000;
    color: $text-color;
    height: 70vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 15%;
    padding-top: 15%;
    &__headerSection {
        font-size: $headers-size;
    }
    &__infoSection {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        padding: 0 1rem;
    }
}