@import '../../../../sass/setting.module.scss';

.sliderDots {
    @include d-flex;

    @media screen and (min-width: map-get($breakpoints, tablet)) {
        position: relative;
        top: 25rem;
        right: 90vw;
    }

    @media screen and (min-width: map-get($breakpoints, big-tablets)) {
        right: 102vw;
        top: 21rem;
    }

    @media screen and (min-width: 1400px) {
        right: 100vw;
    }

    @media screen and (min-width: 1700px) {
        top: 23rem;
        right: 87vw;
    }

    &__dot1, &__dot2, &__dot3, &__dot4, &__dot5{
        width: .5rem;
        height: .5rem;
        background-color: $white-purple;
        // display: inline-block;
        border-radius: 100%;
        margin-right: 1rem;
        transition: all .3s;
    }
    &__dot5 {
        @media screen and (min-width: map-get($breakpoints, mobile)) {
            display: none;
        }
        @media screen and (min-width: map-get($breakpoints, tablet)) {
            display: block;
        }
        @media screen and (min-width: map-get($breakpoints, big-tablets)) {
            display: none;
        }
    }
    &__dot4 {
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            display: none;
        }
    }
}

#active {
    background-color: $purple;
    width: 1.5rem;
    // display: inline-block;
    border-radius: .7rem;
    height: .3rem;
    margin-right: 1rem;
}