@import '../../../../sass/setting.module.scss';

.header {
    @include d-flex;
    gap: 3rem;
    @media screen and (min-width: 768px) {
        align-items: flex-start;
        margin-top: 3rem;
        gap: 6rem;
        height: 5rem;
        // width: 25rem;
    }
    &__title {
        width: 50vw;
        @media screen and (min-width: 768px) {
            width: 35vw;
        }
        &__h2 {
            font-weight: bold;
            font-size: 1.7rem;
            @media screen and (min-width: 768px) {
                font-size: 2rem;
            }
        }
    }
    &__arrowsMenu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 5rem;
        &__arrowLeft {
            width: 2rem;
            @include d-flex;
            border-radius: 100%;
            height: 2rem;
            cursor: pointer;
            box-shadow: $box-shadow;
            &__icon {
                width: 40%;
                opacity: .4;
                transform: rotate(90deg);
            }
        }
        &__arrowRight {
            border-radius: 100%;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            @include d-flex;
            box-shadow: $box-shadow;
            &__icon {
                width: 40%;
                transform: rotate(270deg);
            }
        }
    }
}